
@{
    ViewBag.Title = "Contanct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contanct</h2>


<div>
    more test test test time more time test
    test time
    test
    more tests
    test
    ttttttttttttttteeeeeeeeeeeeeeeessssssssssssssttttttttt
</div>
